.originals-container {
  display: flex;
  justify-content: center;
}

.failure-movie-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90px;
}

@media screen and (min-width: 768px) {
  .failure-movie-container {
    height: 170px;
  }
}

.loader-containers {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90px;
}

@media screen and (min-width: 768px) {
  .loader-containers {
    height: 170px;
  }
}
